
-if signed_in?
  %h1 
    Welcome 
    = username

  %h3 Next Ten Games
  = render :partial => "shared/games"   
-else
  %h1 
    Welcome User
  =link_to "Login", signin_path
  %small
    New User? 
    =link_to "Sign up", new_user_path

