.column-wrapper
  .column.pull-left.sidebar
    = render :partial => "shared/standings"  
  .column.pull-left
    Middle Column


-if signed_in?
  %h1 
    Welcome 
    = username

  %h3 
    Upcoming Games for
    =@active_season.name
  = render :partial => "shared/games" 
-else
  %h1 
    Welcome User
  =link_to "Login", signin_path
  %small
    New User? 
    =link_to "Sign up", new_user_path

