@import "base/mixins";

.column-wrapper {
  @include clearfix;
}
.column {
  float: left
}

.sidebar {
  width: 300px;
}

.main-column {
  margin-left: 20px;
  width: 600px;
}

footer {
  margin: 20px 0;
  text-align: center;
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: none;
}