@import "base/mixins";

.column-wrapper {
  @include clearfix;
}
.column {
  float: left
}

.sidebar {
  width: 300px;
}

.main-column {
  margin-left: 20px;
  width: 600px;
}

footer {
  margin: 20px 0;
  text-align: center;
}