%h3 Upcoming Events 

Coming Soon

%small
  This section will contain upcoming league scheduled events such as parties, Fundraisers and award ceremonies. This will be fully managable by the league administrator. 