.rainout-status-block
  %h3 All games are on as scheduled

  %small 
    This section will contain constant updates for the current rainout status of upcoming games (games can also be marked at rained out later on). This will be fully updatable and editable by website admins