%h3 News and Announcements
Coming soon!
%small
  This section will contain announcements, blog posts, newsletters and event announcements such as fundraisers, parties, and tournaments. It will be maintained and fully usable by Website admins