<% if @team_player.errors.any? %>
<% else %>
  var newPlayer = '<%= escape_javascript("Added: #{@team_player.user.email}")%>';
  console.log(newPlayer);
  $("#team-players").append("<li>" + newPlayer + "</li>");
<% end %>