%h1 Team Players
%table
  %tr
    %th Player
    %th Team
    %th
    %th
    %th

      %td= link_to 'Show', team_player
      -if is_admin?
        %td= link_to 'Edit', edit_team_player_path(team_player)
        %td= link_to 'Destroy', team_player, method: :delete, data: { confirm: 'Are you sure?' }
%br/
- if is_admin?
  = link_to 'New Team player', new_team_player_path